.code {
    background: #000;
    color: #ddd;
    padding: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    font-family: monospace;
}

.code span {
    display: block;
}

.code {
    counter-reset: line-number;
}

.code span {
    counter-increment: line-number;
    display: list-item;
    padding-left: 1rem;
    margin-left: 1rem;
}

.code span::before {
    content: counter(line-number);
    color: #999;
}
